.landingpage-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color:#82adfc;
    height: 100vh;
}
.marketing-info{
    flex:1;
    justify-content: center;
    /* text-align: center; */
}
.pricing{
    flex: 1;
    justify-content: center;
    /* text-align: center; */
}

