.navbar-container{
    display: flex;
    border: 2px solid black;

}

.navbar-left{
    flex:4;
}
.logo-image{
    height: 50px;
    width: 50px;
    border-radius: 40%;
}
.navbar-center{
    flex:4;
}
.navbar-right{
    display: flex;
    flex:4;
    margin-right: 20px;
}
